.textGenerator{
    margin: auto;
    padding: 20px;
    border: 1px solid black;
    text-align: center;
    width: 250px;
    
}

.incorrect{
    color: red;
    
}
.correct{
    color: greenyellow;
}